body{
  /* background-image: url("../images/newbg.jpg"); 
color: white; */
background-image: url("../images/background.jpg");
color: #f3fbf4;
}

 
p{
  //text-align: left;
  
}

.chars, .charsEnemy
{
  display: inline-block;
  width: 150px;
  height: 210px;
  border: solid 4px black;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #304c3d;
  color: #f3fbf4;
}

img
{
  height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#attackText
{
  font-size: 50px;
}